<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISudentService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53431/StudentService1.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISudentService1"
                contract="ServiceReference1.ISudentService1" name="BasicHttpBinding_ISudentService1" />
        </client>
    </system.serviceModel>
</configuration>